@model TestTask.DAL.Employee

<label asp-for="Id">Сотрудники</label>
<select class="form-select" name="employeeId" id="employees__select" asp-for="Id" asp-items="ViewBag.EmployeeSelectList">
    
</select>